backend = "etcdv3"
interval = 10
watch = true
nodes = [
{% for host in groups['etcd_cluster'] %}
  "http://{{ hostvars[host]['inventory_hostname'] }}:2379",
{% endfor %}
 {% for etcd_hosts in patroni_etcd_hosts %}
  "http://{{etcd_hosts.host}}:{{etcd_hosts.port}}",
{% endfor %}
]
