ETCD_NAME="{{ ansible_hostname }}"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_default_ipv4.address }}:2379" 
ETCD_LISTEN_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_name }}"
{% if 'patroni' in group_names %}
ETCD_INITIAL_CLUSTER="{% for host in groups['patroni'] %}{{ hostvars[host]['ansible_hostname'] }}=http://{{ hostvars[host].ansible_default_ipv4.address }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
{% else %}
{% if 'patroni' in groups %}
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd'] + groups['patroni'] %}{{ hostvars[host]['ansible_hostname'] }}=http://{{ hostvars[host].ansible_default_ipv4.address }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
{% else %}
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd'] %}{{ hostvars[host]['ansible_hostname'] }}=http://{{ hostvars[host].ansible_default_ipv4.address }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
{% endif %}
{% endif %}
ETCD_INITIAL_CLUSTER_STATE="{{ etcd_cluster_state }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_INITIAL_ELECTION_TICK_ADVANCE="false"
ETCDCTL_API=3
