ETCD_NAME="{{ ansible_facts['hostname'] }}"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_facts['default_ipv4']['address'] }}:2379,http://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_facts['default_ipv4']['address'] }}:2379" 
ETCD_LISTEN_PEER_URLS="http://{{ ansible_facts['default_ipv4']['address'] }}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_facts['default_ipv4']['address'] }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_name }}"
ETCD_INITIAL_CLUSTER="{% for host in groups['patroni'] | reject('equalto', patroni_excluded_node) | list %}{{ hostvars[host]['ansible_hostname'] | default(hostvars[host]['inventory_hostname']) }}=http://{{ hostvars[host]['ansible_default_ipv4']['address'] | default(hostvars[host]['ansible_host'] | default(host)) }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="{{ etcd_cluster_state }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_INITIAL_ELECTION_TICK_ADVANCE="false"
ETCDCTL_API=3
ETCD_AUTO_COMPACTION_RETENTION="1"
